[submodule "GoHappy"]
	path = GoHappy
	url = https://github.com/karishmag9/GoHappy.git
[submodule "GoHappy-two"]
	path = GoHappy-two
	url = https://github.com/karishmag9/GoHappy-two.git
[submodule "GoHappy-three"]
	path = GoHappy-three
	url = https://github.com/karishmag9/GoHappy-three.git
